@use '../util/' as u1;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;

    @include u1.breakpoints(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, &__sidebar {
        padding: 30px 40px;
    }

    &__main {
        background-color: aqua;
    }
    &__sidebar {
        background-color: aquamarine;

        @include u1.breakpoint-down(medium) {
            text-align: center;
        }
    }
}