@use '../util/' as u1;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;

    @include u1.breakpoints(large) { // min-width: 900px
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, &__sidebar {
        padding: 30px 40px;
    }

    &__main {
        background-color: aqua;
    }
    &__sidebar {
        background-color: aquamarine;

        @include u1.breakpoint-down(medium) {
            text-align: center;
        }
    }

    .sensiba {
        font-weight: bold;

        // where u1.button_one is from /util/_breakpoints.scss
        // where u1.$color_array is from /util/_fonts.scss
        @include u1.button_one(#f1f2f6, var(--text-color)) {
            margin: 20px 0 0;
            color: map-get($map: u1.$color_array, $key: 'darkred')
        }
    }
}

// just for me to use in my learning purposes
@each $key, $val in u1.$color_array {
    .text-#{$key} { color: light#{$val}; }
}